* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0B2434;
}

body, button {
  font-family: Karla, sans-serif;
}

main {
  background: #F5F5F5;
  border-radius: 6px;
  width: 320px;
  height: 320px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #2B283A;
}

.title {
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: -0.03em;
}

.instructions {
  font-family: Inter, sans-serif;
  color: #4A4E74;
  letter-spacing: -0.03em;
  text-align: center;
  margin: 0px 45px 5px;
  font-size: 0.9rem;
}

.dice-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  justify-items: center;
  row-gap: 18px;
  margin: 20px 15px;
}

.roll-button {
  background: #5035FF;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 4px;
  color: white;
  height: 36px;
  width: 90px;
  border: none;
  cursor: pointer;
}

.roll-button:active {
  transform: translate(1px, 1px);
  color: #DDD;
  background: #3e29c9;
}

/* #region Die */

.die {
  font-weight: bold;
  font-size: 1.5rem;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  background: white;
}

/* #endregion Die */